<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.aube-tech.atmyfreebox</string>
       <key>Developer Identifier</key>
       <string>3U7M395G4R</string>
       <key>CFBundleVersion</key>
       <string>2</string>
       <key>CFBundleShortVersionString</key>
       <string>1.1</string>
       <key>http://prod.aube-tech.com/atmyfreebox_manifest.plist</key>
       <string>AtMyFreebox.safariextz</string>
     </dict>
   </array>
</dict>
</plist>